
/* #container-1 {
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(30, 255, 0);
    margin: 4px;
    padding: 2px;
    border-radius: 8px;
} */

#container-2 {
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(30, 255, 0);
    margin: 4px;
    padding: 2px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.65);
}

#container-3 {
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(30, 255, 0);
    margin: 4px;
    padding: 2px;
    border-radius: 8px;
    background-color: grey;
}

.button {
    margin: 4px;
    padding: 5px;
    width: 125px;
}

.input {
    margin: 9px;
}

#shape-canvas {
    background-color: black;
    width: 600px;
    height: 600px;
    border-color: rgb(255, 60, 0);
    border-style: ridge;
}

#info-side-panel {
    border-style: dashed;
    border-width: 2px;
    border-color: rgb(30, 255, 0);
    margin: 4px;
    padding: 2px;
    border-radius: 8px;
}

.shape {
    position: relative;
}

.circle {
    background-color: rgba(128, 0, 128, 0.418);
    border-radius: 50%;
}

.square {
    background-color: rgba(255, 0, 0, 0.342);
}

.triangle {
    width: 0;
    height: 0;
    border-top: 100px solid rgba(255, 255, 0, 0.486);
    border-left: 100px solid transparent;
}

.rectangle {
    background-color: rgba(91, 250, 91, 0.466);
}
